.img {
    display: block;
    width: 204px;
    height: 310px;
    margin: 5px;
    border: 2px solid black;
    float: left;
    text-align: center; 
    color: black;
}

.img:focus,.img:hover {
    color: plum;
}
.imgalign {
    display: block;
    width: 230px;
    height: 320px;
    margin: 5px;
    border: 2px solid black;
    margin: 0 auto;
}

.imgalign > img {
    width: 100%;
    height: 89%;
}

.img > img {
    width: 100%;
    height: 89%;
}

.para {
    margin: 10px;
    text-align: justify;
    width: 98%;
}

.para2 {
    margin: 10px;
    text-align: justify;
    display: block;
    width: 98%;
    height: 20%;
    border: 2px solid black;

}

.para3 {
    margin: 10px;
    text-align: center;
    width: 98%;
}

body {
    background-color: gainsboro;
}

h1 {
    font-style: italic;
    font-family: Tahoma, Geneva, sans-serif;
    color: plum;
    font-size: 50px;
    text-align: center;
}

h2 {
    font-family: Verdana, Geneva, sans-serif;
    font-style: italic;
    color: plum;
    font-size: 30px;
    text-align: center;
}

h3 {
	margin:0 0 35px 0;
    letter-spacing:1px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

h4 {
    margin:15px;
	text-transform: uppercase;
    letter-spacing:1px;
    text-align: center;
}

h5 {
    margin:15px;
	text-transform: uppercase;
    letter-spacing:1px;
    text-align: center;
    font-size: 23px;
    color: plum;
}

.text {
    display: block;
    width: 500px;
    height: 400px;
    border: 2px solid black;
    margin: 5px;
        
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;  
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

input[type=submit] {
    background-color: plum;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #9550ce;
}

.container {
    border-radius: 5px;
    padding: 20px;
}

a {
    color: #536872;
    text-decoration: none;
    background-color: transparent;
    font-size: 30px
    }

a:hover,a:focus{
    text-decoration:none;
    color:#9550ce;
}

i {
    color: darkslategrey
}

.fa-tumblr:hover,.fa-tumblr:focus {
    color:midnightblue;
}

.fa-facebook:hover,.fa-facebook:focus {
    color: royalblue;
}

.fa-twitter:hover,.fa-twitter:focus {
    color: deepskyblue;
}